# root
/*.xlsx
/*.xls
/*.txt

# pycache
.idea/
__pycache__/

# checkpoint_dir
checkpoint_dir/

#figs, tmp
# figs/
Unsupervised_Pretraining/
tmp/

# figs
figs/*.pdf

# models_of_blocks
models_of_blocks/**/*.npz

# metatask_sampling
metatask_sampling/*.tif
metatask_sampling/*.xlsx

# files


*~

