# root
/*.xlsx
/*.xls
/*.txt

# pycache
.idea/
__pycache__/

# figs
figs/*.pdf

# models_of_blocks
models_of_blocks/**/*.npz

# metatask_sampling
metatask_sampling/*.tif
metatask_sampling/*.xlsx

# files
unsupervised_pretraining/
tmp/
checkpoint_dir/

*~

